<!DOCTYPE html>
<html lang="zh-CN">

<head>
<!-- 加载其它模板文件 -->
{% extends 'layout.html' %}
<!-- 定义title区域块 -->
{% block title %}
  z图书管理系统
{% endblock %}
</head>

{% block navTitle %}
<x-breadcrumb title="编辑修改"></x-breadcrumb>
{% endblock %}



<!-- 定义content区域块 -->
{% block content %}
<div class="country-update">

  <h1>Update Country: {{ book_name }}</h1>


  <div class="country-form">

    <form id="w0" action="/" method="post" name="update">
      <div class="form-group field-book_name required">
        <label class="control-label" for="book-book_name">书籍名称</label>
        <input type="text" id="book_name" class="form-control" name="book_name" value="{{ book_name }}"
          maxlength="52" aria-required="true">

        <div class="help-block"></div>
      </div>
      <div class="form-group field-author">
        <label class="control-label" for="book-author">作者</label>
        <input type="text" id="author" class="form-control" name="author" value="{{ author }}">
        <div class="help-block"></div>
      </div>
      <div class="form-group field-book_img">
        <label class="control-label" for="book-book_img">缩略图</label>
        <input type="text" id="book_img" class="form-control" name="book_img" value="{{ book_img }}">
        <div class="help-block"></div>
      </div>


      <div class="form-group">
        <x-createbtn title="保存编辑" class="update_btn"></x-createbtn>
      </div>

    </form>
  </div>

</div>
{% endblock %}


</html>
